@media (max-width: 768px){
    .adminDashboard{
        padding-top: 80px;
    }
    .adminHeaderEdit{
        margin-top: 200px;
    }
}

.adminDashboard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}

.adminDashboard > div{
    margin-bottom: 15px;

}