.signupForm{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}

.signupFormDiv{
    margin: auto;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

.signupForm > .email{
    margin-bottom: 15px;
}


.logoSignup{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.signupWraper{
    margin: 0%;
    padding: 0%;
}

.Button-Signup{
    background-color: #0573bb;
    color: #f0f2f5;
    border: none;
    cursor: pointer;
    height: 40px;
    font-size: x-large;
    border-radius: 10px;
}

.backToSignIn{
    text-decoration: none;
    width: 100%;
    background-color: #ffffff;
    color: #8bc543;
    float: right;
    border: none;
    cursor: pointer;
    font-size: large;
    /* margin-top: 5px; */
}

.signupForm > .password{
    margin-bottom: 15px;
    
}

.signupForm > .cnfPassword{
    margin-bottom: 15px;
}

.signupForm >.fullName{
    margin-bottom: 15px;
}
.signupForm >.nic{
    margin-bottom: 15px;
}


@media (max-width: 768px){
    .signupFormDiv{
        width: 90%;
    }
    .signupWraper{
        margin-top: -23px;
    }
}
